#
# This file is part of GEO Knowledge Hub.
# Copyright 2020-2021 GEO Secretariat.
#
# GEO Knowledge Hub is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#

# Backend services needed for development.
#
# This file will start all the backend services needed to run InvenioRDM
# locally in development mode.
#
# Usage::
#
#   $ docker-compose up -d
#
# Following services are included:
# - Cache: Redis (exposed port: 6379)
# - DB: PostgresSQL (exposed port: 5432)
# - pgAdmin 4: (exposed port: 5050, 5051)
# - Message queue: RabbitMQ (exposed ports: 5672, 15672)
# - Elasticsearch (exposed ports: 9200, 9300)
# - Kibana (view ES indexes) (exposed ports: 5601)
# - S3: Minio (exposed ports: 9000, 9001)
#
version: '2.2'
services:
    cache:
        extends:
            file: docker-services.yml
            service: cache
    db:
        extends:
            file: docker-services.yml
            service: db
    mq:
        extends:
            file: docker-services.yml
            service: mq
    es:
        extends:
            file: docker-services.yml
            service: es
    kibana:
        extends:
            file: docker-services.yml
            service: kibana
    pgadmin:
        extends:
            file: docker-services.yml
            service: pgadmin
    s3:
        extends:
            file: docker-services.yml
            service: s3
