[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
# Base dependencies
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"

# Invenio RDM dependencies
invenio-app-rdm = {version = "~=11.0.0", extras = ["opensearch2", "postgresql", "s3"]}

# Extra dependencies
invenio-rdm-records = { git = "https://github.com/geo-knowledge-hub/invenio-rdm-records.git", editable = false, ref = "b-1.6" }

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
