[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
# Base dependencies
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
setuptools = "==80.9.0"

# Invenio RDM dependencies
invenio-app-rdm = {version = "~=11.0.0", extras = ["opensearch2", "s3"]}

# GEO Knowledge Hub dependencies
geo-knowledge-hub = { editable = false, path = "./site" }

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
