# -*- coding: utf-8 -*-
#
# Copyright (C) 2021 GEO Secretariat.
#
# geo-knowledge-hub-ext is free software; you can redistribute it and/or
# modify it under the terms of the MIT License; see LICENSE file for more
# details.
#

-e git+https://github.com/geo-knowledge-hub/geo-assets@v0.2.0#egg=geo-assets

-e git+https://github.com/geo-knowledge-hub/geo-config@v0.2.0#egg=geo-config

-e git+https://github.com/geo-knowledge-hub/geo-vocabularies@v1.0.0#egg=geo-vocabularies
