# -*- coding: utf-8 -*-
#
# This file is part of GEO Knowledge Hub.
# Copyright 2020-2021 GEO Secretariat.
#
# GEO Knowledge Hub is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#

exclude *.sh

include .editorconfig
include .tx/config
include *.rst
include *.txt
include babel.ini

recursive-include geo_knowledge_hub *.babelrc *.eslintignore *.json *.patch
recursive-include geo_knowledge_hub/translations *.po *.pot *.mo
recursive-include geo_knowledge_hub *.html *.js *.less
recursive-include tests *.py *.csv *.json *.yaml

# added by check-manifest
recursive-include geo_knowledge_hub *.py
