{%- extends config.BASE_TEMPLATE %}

{%- block page_body %}
<section class="gkhub-project-section section-content-white-bg">
  <span class="section-title frontpage-title">{{ _("About GEO Knowledge Hub") }}</span>

  <div class="ui container" style="width: 60%">
    <p>The GKH, is a cloud-based digital library providing access to knowledge required to reuse applications of Earth observations (EO).</p>

    <p>The purpose of the GKH is to reveal all components of a given application using EO data, whether stored within the GKH or housed in other repositories, including: (a) research papers and reports describing methods and results, (b) software algorithms and cloud computing resources used for processing, (c) in situ and satellite imagery data used and, (d) results for verification.</p>

    <p>The knowledge contained in, or referred to, by the GKH comprises observations (facts), including references to the GEOSS Platform content; training materials for skills learning (including reference to capacity building activities); and scientific processes (algorithms, procedures, recipes) and their products (information derived by the theoretical or practical understanding of a subject).</p>

    <p>In more concrete terms, the knowledge contained in the GKH represents the body of facts, information and skills widely shared in the scientific community. In environmental related areas, which are the ones under GEO's remit, shared knowledge and reusable/replicable science are essential for decision-making at a global scale.</p>
  </div>

</section>
{%- endblock page_body %}
