{%- extends "invenio_app_rdm/footer.html" %}

<footer class="footer-global">
  <div class="ui grid">
    {%- block footer_top %}
    {%- endblock footer_top %}
    {%- block footer_bottom %}
      <div class="row footer-bottom">
        <div class="ui container">
          <div class="ui grid">
            <div class="four wide column left floated  left middle aligned">
              {#            {%- if config.I18N_LANGUAGES %}#}
              {#              {% from "invenio_i18n/macros/language_selector.html" import language_selector_dropdown %}#}
              {#              {{ language_selector_dropdown() }}#}
              {#            {%- endif %}#}
              <a class="logo-link" href="https://www.earthobservations.org/index.php">
                <img class="icon"
                     src="{{ url_for('static', filename='images/logo-geo29px.png') }}"/>
              </a>
            </div>
            <div class="eight wide column centered middle aligned">
              {% trans invenio_rdm="" %}Powered by <a href="{{ invenio_rdm }}">InvenioRDM</a>{% endtrans %}
            </div>
            <div class="four wide column right floated middle aligned right aligned">
              <a href="https://github.com/geo-knowledge-hub/geo-knowledge-hub" target="_blank"><i
                class="github icon big"></i></a>
              <a href="https://discord.com/channels/730739436551143514#" target="_blank"><i
                class="discord icon big"></i></a>
              <a href="https://twitter.com/geosec2025" target="_blank"><i class="twitter icon big"></i></a>
              <a href="https://www.youtube.com/channel/UCFJ97Bp2XXA5p7ik_wWSoqg" target="_blank"><i
                class="youtube icon big"></i></a>
            </div>
          </div>
        </div>
      </div>
    {%- endblock footer_bottom %}
  </div>
</footer>
