{%- extends "invenio_app_rdm/frontpage.html" %}

{%- block javascript %}
{{ super() }}
{# webpack['gkhub-module.js'] #}
{%- endblock javascript %}

{%- block page_header %}
{%- include "gkhext/header_frontpage.html" %}
{%- endblock page_header %}

{%- block first_section %}
<div class="ui container" >

  <h3 class="ui left aligned header">
    Recent uploads
  </h3>

  <div class="ui centered link cards">
    {% for item in latest_records %}

    <a href="/records/{{ item['id'] }}" class="card" style="width: 23em">
      <div class="left aligned content">
        <div class="extra labels-actions" style="padding-bottom: 10px">
          <div class="ui blue tiny label">
            {{ item['ui']['publication_date_l10n_medium'] }}
          </div>
          <div class="ui grey tiny label">
            {{ item['ui']['resource_type']['title_l10n'] }}
          </div>
          <div class="ui tiny label access-status {{ item['ui']['access_status']['id'] }}">
            <i class="icon {{ item['ui']['access_status']['icon'] }}">
              {{ item['ui']['access_status']['title_l10n'] }}
            </i>
          </div>
        </div>
        <div class="left aligned header"> {{ item['metadata']['title'] }} </div>
        <div class="meta">
          {# first three authors #}
          {% for creator in item['ui']['creators']['creators'] %}
          <span>{{ creator['person_or_org']['name'] }};</span>
          {% endfor %}
        </div>
        <div class="description aligned justified">
          {{ item['ui']['description_stripped'] | truncate(100, true, '...') }}
        </div>
      </div>
    </a>

    {% endfor %}
  </div>
</div>

<section class="gkhub-project-section section-content-white-bg">
<!--    <div id="carousel"></div>-->
<!--    <span class="section-title">{{ _("Welcome to the GEO Knowledge Hub!") }}</span>-->
<!--    <div class="ui container">-->
<!--        <div class="gkhub-project-statement">-->
<!--            <div>-->
<!--                <h3>An open-source digital repository of open, authoritative and reproducible knowledge created by the <a href="https://earthobservations.org"  target="_blank"> Group on Earth Observations</a></h3>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="ui container">
        <div class="ui padded relaxed centered grid">
            <div class="gkhub-project-goals">
                <div class="gkhub-goal">
                    <div class="column">
                      <a href="/about">
                        <i class="info huge icon"></i>
                        <h3>About</h3>
                      </a>
                      <p>Read more about the digital repository of Earth Observations applications</p>
                    </div>
                </div>
                <div class="gkhub-goal">
                    <div class="column">
                      <a href="/discover">
                        <i class="box huge icon"></i>
                        <h3>Discover</h3>
                      </a>
                      <p>Find Earth Observations applications</p>
                    </div>
                </div>
                <div class="gkhub-goal">
                    <div class="column">
                      <a href="/contribute">
                        <i class="globe huge icon"></i>
                        <h3>Contribute</h3>
                      </a>
                      <p>Share your Earth Observations applications</p>
                    </div>
                </div>
                <div class="gkhub-goal">
                    <div class="column">
                      <a href="/engage">
                        <i class="users huge icon"></i>
                        <h3>Communities</h3>
                      </a>
                      <p>Engage with experts on Earth Observations applications</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endblock first_section %}

{%- block second_section%}
{%- endblock second_section%}
