<hr class="thin-line"/>
<div class="ui divided link relaxed items" style="height: 270px; overflow: auto;">
  {% for item in related_records_informations %}

  <a href="{{ item['url'] }}" class="item">
    <div class="content">
      <div class="extra labels-actions">
        <div class="ui blue tiny label">
          {{ item['ui']['publication_date_l10n_medium'] }}
        </div>
        <div class="ui grey tiny label">
          {{ item['ui']['resource_type'] }}
        </div>
        <div class="ui tiny label access-status {{ item['ui']['access_status']['id'] }}">
          <i class="icon {{ item['ui']['access_status']['icon'] }}">
            {{ item['ui']['access_status']['title_l10n'] }}
          </i>
        </div>
      </div>
      <div class="header">
        {{ item['title'] }}
      </div>
      <div class="meta">
        {# first three authors #}
        {% for creator in item['ui']['creators']['creators'][0:3] %}
        <span>{{ creator['person_or_org']['name'] }};</span>
        {% endfor %}
      </div>
    </div>
  </a>

  {% endfor %}
</div>
